@tailwind base;
@tailwind components;
@tailwind utilities;

/* karla-regular - latin */
@font-face {
	font-family: "Karla";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(""), url("/fonts/karla-v22-latin-regular.woff2") format("woff2"),
		url("/fonts/karla-v22-latin-regular.woff") format("woff");
}
/* karla-700 - latin */
@font-face {
	font-family: "Karla";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local(""), url("/fonts/karla-v22-latin-700.woff2") format("woff2"),
		url("/fonts/karla-v22-latin-700.woff") format("woff");
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Karla", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
	@apply text-3xl font-bold text-gray-700;
}

h2 {
	@apply text-xl font-bold text-gray-700;
}

h3 {
	@apply text-lg font-bold text-gray-700;
}

/* Links */
a,
.link {
	@apply text-teal-600 underline hover:text-teal-800;
}
.link-bare {
	@apply text-gray-700 no-underline cursor-pointer hover:text-teal-800;
}

/* Buttons */
button:disabled,
input[type="submit"]:disabled {
	@apply cursor-not-allowed opacity-50 animate-pulse hover:no-underline;
}

/* Primary buttons (for example the "Save" button on a form) */
.btn,
input[type="submit"] {
	@apply w-auto bg-teal-600 text-white rounded p-2 px-3 border-none no-underline cursor-pointer hover:text-white hover:bg-teal-800 disabled:bg-gray-300 hover:no-underline;
}

input[type="file"] {
	@apply w-auto text-gray-500 cursor-pointer hover:no-underline;
}

/* Text buttons (look like links but have no underline, for example "Add Tag") */
.btn-text {
	@apply text-teal-600 no-underline hover:no-underline hover:text-teal-800;
}

/* Icon buttons (for example, the "X" on a modal) */
.btn-icon {
	@apply text-gray-500 no-underline hover:no-underline p-1 rounded flex flex-row items-center justify-center hover:text-gray-800 hover:bg-gray-200;
}

/* Secondary buttons (with an icon and small bold text, for example "+ Add to Collection") */
.btn-secondary {
	@apply text-gray-500 text-sm font-bold whitespace-nowrap flex flex-row items-center no-underline p-1 rounded hover:no-underline hover:text-gray-800 hover:bg-gray-200;
}
.btn-secondary-active {
	@apply text-gray-800;
}

input,
input[type="text"],
input[type="number"],
input[type="password"],
textarea {
	@apply w-full bg-white p-2 border border-gray-300 rounded appearance-none focus:outline-none focus:border-transparent focus:ring-2 focus:ring-teal-600;
}

input::placeholder,
input[type="text"]::placeholder,
textarea::placeholder {
	@apply text-gray-500;
}

input[type="checkbox"] {
	@apply appearance-none rounded border border-gray-300 focus:ring-2 focus:ring-teal-600 checked:bg-teal-600 checked:border-transparent;
}
input[type="checkbox"]:checked {
	@apply hover:bg-teal-600 focus:bg-teal-600;
}

select {
	@apply bg-white cursor-pointer border border-gray-300 rounded py-1 pl-2 pr-9 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-teal-600;
}
